@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --white: rgba(255, 255, 255, 1);

    --main-bg-color: var(--white);
    --main-border-color: rgba(0, 0, 0, .1);
    --main-text-color: #72777A;
    --main-theme-primary-color: #FF6F60;
    --main-theme-secondary-color: #60A1FF;
    --main-theme-bg-color: var(--white);
    --main-theme-shadow-color: rgba(255, 111, 96, 0.4);

    --secondary-bg-color: #F5F5F5;
}

.dark-theme {
    --main-bg-color: #1F1F1F;
    --main-border-color: rgba(255, 255, 255, .1);
    --main-text-color: #AAAAAA;
    --main-theme-primary-color: #FFB4AD;
    --main-theme-secondary-color: #ADCEFF;
    --main-theme-bg-color: rgba(255, 255, 255, 0.2);
    --main-theme-shadow-color: rgba(255, 111, 96, 0.7);

    --secondary-bg-color: rgba(255, 255, 255, 0.2);
}

body {
    margin: 0;
    display: flex;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-size: 14px;
    color: var(--main-text-color) !important;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.mat-form-field {
    width: 100%;
}

.gender-field {
    margin: 8px 0 20px;
}

.mat-radio-label {
    margin: 0 15px;
}

.button-wrapper {
    margin: 3vh 0;
}
